<form>

  <div>


    <div class="modal-body">
      <div class="form-group">
        <label for="date" class="form-label mt-4">Fecha</label>
        <input type="date"  class="form-control" id="date">
      </div>
    </div>

    <div class="modal-body">
      <div class="form-group">
        <label for="metodo" class="form-label mt-4">método</label>
        <input type="text"  class="form-control" id="metodo">
      </div>
    </div>



    <div class="modal-body">
      <div class="form-group">
        <label for="consultado"  class="form-label mt-4">consultado</label>
        <input type="text"  class="form-control" id="consultado">
      </div>
    </div>


    <div class="form-group">
      <label for="retornados" class="form-label mt-4">datos retornados</label>
      <textarea class="form-control"   id="retornados" rows="3"></textarea>
    </div>



    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</form>
